#create a .env.local file and copy these, replace accordingly
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_SANITY_PROJECT_ID=your-sanity-project-id
# get the project id from sanity manage project settings

NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=your-sanity-read-token
# get the api token from sanity manage project settings
NEXT_PUBLIC_SANITY_USE_CDN=false
NEXT_PUBLIC_SANITY_PREVIEW=false
# NEXT_PUBLIC_SANITY_PREVIEW=true only when you want the website to display unpublished Sanity drafts while editing content.

NEXT_PUBLIC_CONTACT_NUMBER=your-team-manager-contact-number

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your-webhook-id/your-webhook-token
# get the webhook from vercel env variables

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@example.com
SMTP_PASS=your-gmail-app-password
EMAIL_TO=your-email@example.com